@{
    ViewData["Title"] = "Xác nhận gửi email";
}

<div class="form-container sign-in-container">
    <div class="confirmation-container">
        <h1>Kiểm tra email của bạn</h1>
        <p>Chúng tôi đã gửi một email chứa link đặt lại mật khẩu. Vui lòng kiểm tra email của bạn.</p>

        <div class="form-options">
            <a asp-action="Login" asp-controller="Account">Quay lại đăng nhập</a>
        </div>
    </div>
</div>