@model MusicWebMVC.ViewModels.ForgotPasswordViewModel

@{
    Layout = null;
    ViewData["Title"] = "Quên mật khẩu";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Music Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/fogot.css">
</head>

<body>
<div class="form-container">
    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
        <h1>Quên Mật Khẩu
</h1>
        <p>Nhập email của bạn và chúng tôi sẽ gửi link đặt lại mật khẩu</p>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="email_block">
            <input asp-for="Email" placeholder="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>

                @if (ViewBag.Error != null)
                {
                <p style="color: red;">@ViewBag.Error</p>
                }


            <button type="submit">Gửi link đặt lại mật khẩu</button>
         </div>
        

                <div class="form-options">
                    <a asp-action="Login">Quay lại đăng nhập</a>
                </div>
       
    </form>
</div>
</body>
