@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<div class="form-container sign-in-container">
    <div class="confirmation-container">
        <h1>Đặt lại mật khẩu thành công</h1>
        <p>Mật khẩu của bạn đã được đặt lại thành công.</p>

        <div class="form-options">
            <a asp-action="Login" asp-controller="Account">Đăng nhập</a>
        </div>
    </div>
</div>